

.active-appt {
    overflow-y: scroll;
    height: 90%;
    padding: 20px;
}

.active-appt-header {
    display: flex;
    justify-content: space-between;
}

.active-appt h2 {
    font-size: 24px;
    font-weight: 500;
}

.active-appt-header button {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-appt-header button img {
    height: 70%;
}

.active-appt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.active-appt-grid.lower {
    grid-column: span 2;
    padding: 0;
    margin: 0;
}

.active-appt-grid div {
    margin-top: 24px;
}

.active-appt-grid p, .active-appt-grid li {
    margin-top: 5px;
}

.active-appt-grid .left {
    text-align: end;
}

.active-appt-grid .title {
    font-weight: 500;
}

.student-info .student-name {
    font-size: 20px;
}

.time-info {
    display: grid;
    grid-template-columns: 80% 20%;
}

.appt-notes {
    grid-column: span 2;
}

.appt-class {
    grid-column: span 2;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    font-size: 18px;
}

