
#calendar-container {
  height: calc(100vh - 40px);
  padding: 20px 10px 30px;
}

/* nav */

#calendar-head {
  display: flex;
  padding: 0 30px;
}

#calendar-head button {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
}

#calendar-head .prev-week {
  margin-right: 6px;
}

#calendar-head button:nth-child(3) {
  margin: 0 8px;
  padding: 0 5px;
}

#calendar-head button img {
  height: 60%;
}

#calendar-head .prev-week img {
  transform: rotate(90deg);
}

#calendar-head .next-week img {
  transform: rotate(-90deg);
}

#calendar-head input {
  height: 28px;
  padding: 0 5px;
  margin-right: 6px;
}

#calendar-head:nth-child(5) {
  padding: 0 5px;
}


/* appt-list */

#calendar-container h2 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(40, 40, 40);
    margin: 20px 0 0;
    border-bottom: 1px solid rgb(178, 178, 178);
  }
  
  #appt-list {
    height: calc(100% - 40px);
    width: 100%;
    overflow-y: scroll;
    padding: 0 30px;
    margin: 10px 0 30px;
  }
  
  .day {
    margin-bottom: 40px;
  }
