

#appt-form {
    width: 100%;
    padding: 20px;
}

#appt-form .section {
    margin-bottom: 20px;
}

#appt-form input {
    height: 32px;
    padding: 1%;
    margin: 5px 0;
}

#appt-form input:nth-child(3) {
    margin-left: 10px;
    width: 110px;
}

#appt-form button {
    height: 32px;
    width: 80px;
    margin-top: 30px;
}

#student-name {
    margin: 0 auto;
}

#appt-form p {
    margin: 5px 0;
}

#appt-form .require {
    font-size: .9rem;
    margin-top: 20px;
}

.appt-confirmation {
    padding: 20px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.appt-confirmation .title {
    font-weight: 500;
    margin-bottom: 20px;
}


.appt-confirmation .section {
    margin-bottom: 10px;
}

.appt-confirmation p {
    margin-bottom: 5px;
}

.appt-confirmation .btns {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.appt-confirmation button {
    padding: 2%;
    width: 250px;
    margin-bottom: 10px;
}



