

.student-info-grid .section-info,
.edit-classes .section-info {
    width: 100%;
    margin: 10px 0;
    padding: 12px 0;
    border-bottom: 1px dashed black;
}

#appt-form .section-info {
    cursor: pointer;
    background-color: rgb(255, 242, 193);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.edit-classes .section-info {
    display: flex;
    justify-content: space-between;
}

.edit-classes .section-info button {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-classes .section-info img {
    height: 70%;
}

.section-info.highlight {
    outline: 2px solid rgb(255, 207, 34);
}

.section-info p:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 500;
}

