

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  main {
    display: flex;
    justify-content: center;
  }
  
  #grid {
    display: grid;
    grid-template-columns: minmax(500px, 600px) minmax(620px, 700px);
  }

  button {
    cursor: pointer;
  }